/* Color Definitions */
:root {
    --emgblue:#3c4b61;
    --emgmediumblue:#7489aa;
    --emglightblue:#a9bcd0;
    --emglightestblue:#d8dbe2;
    --emgaltblue:#58a4b0;
    --emgcontrastcolor:#db7f67;
    --emgcontrastlight:#e49d8b;
    --emgcontrastdark:#d46549;
}

/* Site-wide Styles */
* {
    padding:0;
    margin:0;
}

body {
    font-family: 'Merriweather', 'Georgia', serif;
    background-color:black;
}

main {
    background-color:white;
    width:100%;
}

footer {
    background-color:black;
}

p {
    font-family: 'Merriweather Sans', 'Arial', sans-serif;
}

nav {
    color:white;
}

#nav-menu-icon-container {
    display:none;
}

li.nav-item, li.footer-links {
    list-style-type:none;
}

a.nav-item {
    text-decoration:none;
    color:white;
}

p.body-copy {
    font-weight:300;
}

.call-out {
    font-weight:500;
    color:var(--emgblue);
    font-style:italic;
}

.section-divider {
    border: 2px solid var(--emglightblue);
    border-radius:2px;
}

a.footer-title, a.footer-links, div.footer-copyright {
    color:white;
    text-decoration:none;
}

a.footer-links:active {
    color:var(--emglightblue);
    text-decoration:underline;
}

a.footer-links:hover {
    color:var(--emgcontrastlight);
}

/* Home Page Styles */
#page-title-container {
    color:white;
}

#home-page-CTA-section {
    display:flex;
}

.home-page-CTA-card {
    display:flex;
    flex-direction:column;
    background-color:var(--emglightestblue);
}

.home-page-CTA-copy {
    font-weight:350;
}

.home-page-CTA-button {
    background-color:var(--emgcontrastcolor);
    border-width:4px;
    border-style:outset;
    border-color:var(--emgblue);
}

.home-page-CTA-button:hover {
    background-color:var(--emgcontrastlight);
    border-color:var(--emgmediumblue) var(--emgblue) var(--emgblue) var(--emgmediumblue);
}

.home-page-CTA-button:active {
    background-color:var(--emgcontrastdark);
    border-color:var(--emgblue) var(--emgmediumblue) var(--emgmediumblue) var(--emgblue);
}