/* Universal Styling */
* {
    padding:0;
    margin:0;
}

body {
    font-family:'Merriweather', 'Merriweather Sans', Arial, sans-serif;
    background-color:#000000;
}

main {
    background-color:#ffffff;
}

#navLinks {
    display:flex;
    list-style-type:none;
}

.navItem a {
    text-decoration:none;
}

.call-out {
    color:#7489aa;
    font-style:italic;
}

a {
    color:#58a4b0;
}

a:visited {
    color:#a9bcd0;
}

.primary-divider {
    margin:1rem;
    background-color:#3c4b61;
    height:2pt;
    border:1pt solid #3c4b61;
}

.secondary-divider {
    margin:1rem 2rem;
    height:1pt;
    border:1pt solid #d8dbe2;
    background-color:#d8dbe2;
}

#home-links-container {
    display:flex;
}

.home-link {
    display:flex;
}

button.home-link-button {
    font-size:1rem;
    font-family:'Merriweather Sans';
    font-weight:400;
    padding:.5rem;
    border-radius:.375rem;
    border-width:2px;
    background-color:#cbd4e0;
    border-color:#3c4b61;
    border-style:solid;
    color:#3c4b61;
    text-transform:uppercase;
    width:100%;
}

a.home-link-button {
    display:block;
    width:100%;
}

.home-link-button:hover {
    cursor:pointer;
    background-color:white;
}

.home-link-button:active {
    background-color:#3c4b61;
    color:white;
}

footer {
    background-color:black;
}

a.footer-title {
    color:white;
    text-decoration:none;
}

.cta-contactme {
    display:block;
    text-decoration:none;
    background-color:#3c4b61;
    color:white;
    text-align:center;
    font-size:1.5rem;
    padding:1rem;
    border-radius:1rem;
}

.cta-contactme:hover {
    background-color:#a9bcd0;
}

.cta-contactme:active {
    background-color:#58a4b0;
}

.section-title {
    font-size:1.625rem;
    padding-bottom:.25rem;
}

/* Contact Me */
#contact-page-container {
    display:flex;
    align-items:center;
}

.contact-type, .contact-link {
    font-family:'Merriweather Sans';
    padding:.125rem;
    font-weight:350;
}

.contact-type {
    text-align:right;
}

.contact-link a{
    color:#7489aa;
    text-decoration:none;
}

.contact-link a:hover {
    text-decoration:underline;
}

.contact-link a:active {
    text-decoration:underline;
    color:#3c4b61;
}

.contact-link a:visited {
    color:#3c4b61;
    text-decoration:none;
}

#contact-form {
    width:100%;
    height:1000px;
    border:none;
}

/* CV Page */
#cv-mobile-only {
    display:none;
}

/* About Me */
#cert-container {
    display:flex;
}

.cert-badge {
    display:flex;
    flex-direction:column;
}

#about-me-section1 p, #about-me-section2 p {
    font-family:'Merriweather Sans';
    font-weight:350;
    line-height:1.375rem;
    padding:.25rem 0 .25rem;
}

/* Small Screen Styling */
@media screen and (max-width:1199px) {

    html {
        font-size:40px;
    }

    /* Header and Nav */
    header {
        background-image:url('../masthead-2a-small.png');
        background-size:100% auto;
        background-position: center bottom;
        padding:.5rem;
    }

    #header-logo {
        width:50%;
        margin: .5rem 25%;
    }

    #navLinks {
        flex-direction:column;
        align-items:stretch;
        width:100%;
        padding-top:1rem;
    }

    .navItem {
        background-color:rgba(255,255,255,10%);
        flex-grow:1;
        flex-shrink:1;
        text-align:center;
        margin:.125rem 0;
        padding:.125rem;
        font-size:1rem;
        font-family:'Merriweather';
    }

    .navItem:hover {
        background-color:rgba(255,255,255,25%);
    }

    .navItem a {
        display:block;
        color:rgba(255,255,255,75%);
    }

    .navItem a:active {
        color:white;
        background-color:rgba(255,255,255,40%);
    }

    /* Page Title and Main Content */
    #page-title-container {
        background-image:url('../masthead-2b-small.png');
        background-size:100% auto;
        background-position: center top;
        padding:.5rem;
        color:white;
    }

    #site-title {
        text-align:center;
        color:white;
        font-size:2.25rem;
        line-height:2.5rem;
        font-family:'Merriweather', serif;
        font-weight:800;
        margin:.5rem;
        letter-spacing:.0625rem;
    }

    #site-subtitle {
        text-align:center;
        color:white;
        font-family:'Merriweather';
        font-size:1.125rem;
        font-weight:400;
        margin:.5rem;
    }

    #page-title {
        margin:.5rem;
        font-size:2.25rem;
        text-align:center;
    }

    #page-subtitle {
        font-size:1.125rem;
        margin:.5rem;
        text-align:center;
        font-weight:400;

    }
    
    section.body-content {
        padding:1.5rem;
    }

    #home-intro h3 {
        font-family:'Merriweather';
        font-size:1.5rem;
        font-weight:600;
        margin-bottom:.5rem;
    }

    #home-intro p {
        font-family:'Merriweather Sans';
        font-weight:350;
        font-size:1 rem;
        margin:.5rem 0;
    }

    #home-links-container {
        flex-direction:column;
    }

    .home-link {
        display:flex;
        flex-direction:column;
        margin-bottom:4rem;
    }

    .home-link-img {
        margin-bottom:1rem;
    }

    .home-link-caption {
        margin-bottom:1rem;
        text-align:center;
        font-family:'Merriweather Sans';
        font-weight:350;
    }

    /* Footer */
    footer {
        padding:1.5rem;
    }

    #footer-logo {
        height:2rem;
    }

    div.footer-title {
        text-align:center;
    }

    /* Contact Me */
    #contact-page-container {
        flex-direction:column;
    }

    #contact-table-title {
        font-size:1.5rem;
    }

    #contact-form-container {
        width:100%;
    }

    /* CV Page */
    #cv-mobile-only {
        display:block;
        font-size:48px;
        padding:1rem;
        margin:1rem;
        border:3px solid #3c4b61;
    }

    #cv-professional, #cv-education {
        margin:1.5rem;
    }

    .cv-section {
        text-transform:uppercase;
        font-weight:400;
        font-size:1.75rem;
    }

    .cv-entry {
        font-weight:600;
        font-size:1.5rem;
        padding:1rem 1.25rem .5rem 1.25rem;
    }

    .cv-entry-subhead {
        font-weight:300;
        font-style:oblique;
        padding:0 1.25rem 0 2rem;
        font-size:1.25rem;
    }

    .cv-entry-info {
        color:grey;
        font-weight:300;
        font-size:1.125rem;
        padding:0 1.25rem .25rem 2rem;
    }

    .cv-entry-details {
        font-family:'Merriweather Sans';
        font-weight:300;
        font-size:1rem;
        padding:0 1.25rem .25rem 3rem;
    }

    .cv-job-task {
        padding-bottom:.375rem;
    }

    .cv-list-head {
        font-family:'Merriweather Sans';
        font-weight:300;
        padding:0 1.25rem .25rem 3rem;
    }

    .cv-notable-accomplishments {
        font-family:'Merriweather Sans';
        font-weight:300;
        padding:0 0 .5rem 4rem;
    }

    .cv-notable-accomplishments li {
        padding-bottom:.375rem;
    }

    /* About Me */
    #cert-container {
        flex-direction:column;
        align-items:center;
    }

    .cert-badge {
        width:80%;
        align-items:center;
        margin:1rem 0 1.5rem;
    }

    .cert-badge-image {
        width:60%;
        margin-bottom:.75rem;
    }

    .cert-badge-caption {
        text-align:center;
        font-family:'Merriweather Sans';
        font-weight:300;
        font-size:.875rem;
    }

}

/* Medium Screen Styling */
@media screen and (min-width:1200px) and (max-width:1399px) {
    
    html {
        font-size:18px;
    }

    /* Header and Nav */
    header {
        background-image:url('../masthead-2a-medium.png');
        background-size:100% auto;
        background-position:center bottom;
        padding:1.5rem;
    }

    #header-logo {
        width:33%;
        margin:.5rem 33%;
    }

    #navLinks {
        flex-direction:row;
        justify-content:space-between;
        padding:1rem;
    }

    .navItem {
        flex-grow:1;
        flex-shrink:1;
        text-align:center;
        margin:0 .5rem;
    }

    .navItem a {
        display:block;
        color:rgba(255,255,255,75%);
        background-color:rgba(255,255,255,10%);
        width:100%;
        padding:.25rem;
    }

    .navItem a:hover {
        background-color:rgba(255,255,255,25%);

    }

    .navItem a:active {
        background-color:rgba(255,255,255,40%);
        color:white;
    }

    /* Page Title and Main Content */
    #page-title-container {
        background-image:url('../masthead-2b-medium.png');
        background-size:100% auto;
        background-position:center top;
        color:white;
        padding:0 1rem;
    }

    #site-title {
        font-size:3rem;
        font-weight:800;
        letter-spacing:.0625rem;
        font-family:'Merriweather';
        width:100%;
        padding-bottom:.5rem;
        color:#ffffff;
        text-align:center;
    }

    #site-subtitle {
        font-size:1.25rem;
        font-weight:400;
        font-family:'Merriweather';
        width:100%;
        padding:.25rem 0 2rem;
        color:#ffffff;
        text-align:center;
    }

    #page-title {
        text-align:center;
        font-size:2.5rem;
    }

    #page-subtitle {
        text-align:center;
        font-size:1.5rem;
        font-weight:400;
        padding:.5rem 0 2rem;
    }

    section.body-content {
        padding:1rem 2.5rem;
    }

    #home-intro h3 {
        font-family:'Merriweather';
        font-size:1.75rem;
        font-weight:600;
        margin-bottom:.5rem;
    }

    #home-intro p {
        font-family:'Merriweather Sans';
        font-weight:350;
        margin:.5rem 0;
    }

    #home-links-container {
        flex-direction:row;
        justify-content:space-between;
    }

    .home-link {
        flex-direction:column;
        flex-grow:1;
        flex-shrink:1;
        margin:0 1rem;
    }

    .home-link-img {
        width:100%;
        margin:.5rem 0;
    }

    .home-link-caption {
        margin:.5rem 0;
        font-family:'Merriweather Sans';
        font-weight:350;
        height:4rem;
    }

    /* Footer */
    footer {
        padding:2rem;
    }

    div.footer-title {
        text-align:center;
    }

    #footer-logo {
        height:3rem;
    }

    /* Contact Me */
    #contact-page-container {
        flex-direction:row;
        width:100%;
        align-items:flex-start;
        padding-top:2rem;
    }

    #contact-info-container {
        flex-grow:1;
    }

    #contact-table {
        float:right;
    }

    #contact-table-title {
        font-size:2rem;
    }

    #contact-form-container {
        flex-grow:3;
    }

    /* CV Page */
    #cv-professional, #cv-education {
        margin:2rem 3rem;
    }

    .cv-section {
        text-transform:uppercase;
        font-weight:400;
        font-size:1.75rem;
        padding-bottom:.25rem;
    }

    .cv-entry {
        font-weight:600;
        font-size:1.375rem;
        padding: .25rem 0 .125rem 1rem;
    }

    .cv-entry-subhead {
        font-weight:400;
        font-size:1.125rem;
        font-style:oblique;
        padding:.25rem 0 0 2rem;
    }

    .cv-entry-info {
        color:gray;
        font-weight:400;
        padding: 0 0 .25rem 2rem;
    }

    .cv-entry-details {
        font-family:'Merriweather Sans';
        font-weight:350;
        padding:0 0 .25rem 4rem;
    }

    .cv-job-task {
        padding-bottom:.25rem;
    }

    .cv-list-head {
        font-family:'Merriweather Sans';
        font-weight:350;
        padding-left:4rem;
    }

    .cv-notable-accomplishments {
        font-family:'Merriweather Sans';
        font-weight:350;
        padding: 0 0 .5rem 4rem;
        list-style-position:inside;
    }

    .cv-notable-accomplishments li {
        padding-bottom:.25rem;
    }

    /* About Me */
    #cert-container {
        flex-flow: row wrap;
        justify-content:space-around;
    }

    .cert-badge {
        flex-flow: column nowrap;
        justify-content:center;
        align-items:center;
        width:30%;
        margin: 2rem auto 2rem;
    }

    .cert-badge-image {
        width:12rem;
        margin-bottom:.5rem;
    }
    
    .cert-badge-caption {
        width:100%;
        text-align:center;
        font-family:'Merriweather Sans';
        font-weight:300;
    }
}

/* Large Screen Styling */
@media screen and (min-width:1400px) {

    html {
        font-size:16px;
    }

    /* Header and Nav Bar */
    header {
        position:sticky;
        top:0;
        background-image:url('../masthead-2a-large.png');
        background-size:100% auto;
        background-position:center bottom;
        width:100%;
        z-index:10;
    }

    #header-logo {
        width:15%;
        margin:1.5rem 42.5% 0;
    }

    #navLinks {
        padding:.5rem 3rem;
        justify-content:flex-start;
    }
    
    .navItem a {
        display:inline-block;
        color:white;
        margin:1rem;
    }

    .navItem a:hover {
        font-weight:600;
    }

    .navItem a:active {
        background-color:rgba(255,255,255,10%);
    }

    /* Page Title and Main Content */
    #page-title-container {
        padding:0 3.5rem 1.5rem;
        clip-path:ellipse(100% 85% at 35% 0%);
        background-image:url('../masthead-2b-large.png');
        background-size:100% auto;
        background-position:center top;
        color:#ffffff;
    }

    #site-title {
        color:white;
        font-size:4rem;
        font-weight:800;
        letter-spacing:.0625rem;
        padding:2rem 0 .5rem;
    }

    #site-subtitle {
        color:white;
        font-size:1.75rem;
        font-weight:400;
        padding-bottom:4rem;
    }

    #page-title {
        font-size:2.5rem;
        padding:.25rem 0;
    }

    #page-subtitle {
        font-size:1.5rem;
        font-weight:400;
        padding-bottom:2rem;
    }

    section.body-content {
        padding: .25rem 3.5rem;
    }

    #home-intro h3 {
        font-size:1.75rem;
    }
    
    #home-intro p {
        font-family:'Merriweather Sans';
        font-weight:350;
        margin:.5rem 0;
    }

    #home-links-container {
        flex-direction:row;
        justify-content:space-between;
        margin-top:1rem;
        padding-bottom:3rem;
    }

    div.home-link {
        flex-direction:column;
        width:30%;
    }

    .home-link-img {
        width:100%;
    }

    .home-link-caption {
        font-family:'Merriweather Sans';
        font-weight:350;
        margin:1rem 0;
    }

    /* Footer */
    footer {
        padding:3.5rem;
    }

    div.footer-title {
        text-align:center;
    }

    #footer-logo {
        height:3rem;
    }

    /* Contact Me*/
    #contact-page-container {
        width:100%;
        flex-direction:row;
        justify-content:center;
        align-items:flex-start;
    }
    
    #contact-table-title {
        font-size:2rem;
    }

    #contact-table {
        float:right;
        margin-top:2rem;
    }

    #contact-info-container {
        flex-grow:1;
    }

    #contact-form-container {
        flex-grow:3;
        float:left;
    }

    .contact-link, .contact-type {
        font-size:1.25rem;
    }

    /* CV Page */
    #cv-professional, #cv-education {
        padding:2rem 4rem;
    }

    .cv-section {
        text-transform:uppercase;
        font-weight:400;
        font-size:1.75rem;
        padding-bottom:.5rem;
    }

    .cv-entry {
        font-weight:600;
        font-size:1.25rem;
        padding:.25rem 0 .25rem 1rem;
    }

    .cv-entry-subhead {
        font-weight:400;
        font-size:1.125rem;
        font-style:oblique;
        padding:.125rem 0 0 2.25rem;
    }

    .cv-entry-info {
        color:gray;
        font-weight:400;
        padding:0 0 .25rem 2.25rem;
        font-size:1.125rem;
    }

    .cv-entry-details {
        font-family:'Merriweather Sans';
        font-weight:350;
        padding: .25rem 0 .25rem 3.5rem;
    }

    .cv-job-task {
        padding-bottom:.25rem;
    }

    .cv-list-head {
        font-family:'Merriweather Sans';
        font-weight:350;
        padding-left:3.5rem;
    }

    .cv-notable-accomplishments {
        font-family:'Merriweather Sans';
        font-weight:350;
        padding:.25rem 0 .5rem 4.5rem;
    }

    /* About Me */

    #cert-container {
        flex-flow: row wrap;
        justify-content:space-around;
    }

    .cert-badge {
        flex-flow: column nowrap;
        align-items:center;
        margin:2rem 3rem 2rem;
    }

    .cert-badge-image {
        width:16rem;
    }

    .cert-badge-caption {
        width:24rem;
        font-family:'Merriweather Sans';
        font-weight:300;
        text-align:center;
    }

    #about-me-section1, #about-me-section2 {
        padding: 1rem 3.5rem;
    }
    
    #about-me-section2 {
        clear:right;
    }

    #aboutme-img1 {
        float:right;
        width:15%;
        margin:0 2rem;
    }

    #aboutme-img2 {
        float:left;
        width:20%;
        margin:2rem 2rem 0 0;
    }

}